<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>whatsapp</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>伴行需要获取您的位置，用于标注您执业医院所在地。</string>
</dict>
</plist>
